# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# Build outputs
/dist/
/build/

# Coverage
coverage/

# IDE
.idea/
.vscode/

# Go
/bin/
*.exe
*.test
*.out
docker-compose.prod.yml
jwt_secret.txt
