{
	email admin@trumpus.tech
}

trumpus.tech {
  route {
    handle /api/v1/health {
      rewrite * /health
      reverse_proxy trumpus_api:8000
    }

    handle /api/* {
      reverse_proxy trumpus_api:8000
    }

    handle {
      reverse_proxy trumpus_client_web:80
    }
  }
}

admin.trumpus.tech {
  route {
    handle /api/v1/health {
      rewrite * /health
      reverse_proxy trumpus_api:8000
    }

    handle /api/* {
      reverse_proxy trumpus_api:8000
    }

    handle {
      reverse_proxy trumpus_admin_web:80
    }
  }
}

api.trumpus.tech {
  route {
    handle /api/v1/health {
      rewrite * /health
      reverse_proxy trumpus_api:8000
    }

    handle {
      reverse_proxy trumpus_api:8000
    }
  }
}
